@import url(http://fonts.googleapis.com/css?family=Exo:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/* -- 
  font-family: 'Exo', sans-serif;
  font-family: 'Oxygen', sans-serif;
-- */

/* We use this media query to add styles to any device that supports media queries */
@media only screen {

  body{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-size: 100%;
  }

  h2{}

/* --- Background --- */

.background{
  background: #8A9ECC;
  height: 530px;
}

/* --- Topo Colunm --- */

  .topo{
    background: #0E2459; /* Old browsers */
    position: relative;
  }

  .topo ul{
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
  }

  .topo ul li{
    display: inline;
    font-weight: 500;
  }

  .topo ul li a{
    color: #999;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 14px;
  }

  .topo ul li a:hover{
    color: #FFF;
    background: #071433;
  }

  .topo ul li.logo{
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    color: #FFF;
    font-size: 16px;
    margin-right: 40px;
  }

/* --- Wrapper Colunm --- */

  .wrapper{
    width: 980px;
    margin: 40px auto 0;
  }

/* --- Left Colunm --- */

  .left{
    width: 220px;
    float: left;
    position: fixed;
  }
  .left h2{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .left ul{}

  .left ul h2{
    margin-top: 20px;
    font-size: 12px;
    color: #000;
    padding-left: 10px;
  }

  .left ul li{
    
  }

  .left ul li:hover{
    background: #F5F5F5;
  }

  .left ul li a{
    text-decoration: none;
    color: #666;
    font-size: 13px;
    padding: 5px 0 5px 10px;
    display: block;
    width: 100%;
  }

  .left ul li a:hover{
  }

/* --- Right Colunm --- */

  .right{
    padding-left: 20px;
    width: 740px;
    background: ;
    float: right;
    height: 2000px;
    border-left: 1px solid #F5F5F5;
  }

}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}